<ion-content class="options-page">
    <app-dashboard-header></app-dashboard-header>
  
    <div class="options-container">
      <h1>Connect Your Social Media Accounts</h1>
      <p>Integrate your favorite platforms to consolidate all your feeds in one place.</p>
  
      <div class="social-options">
        <div class="social-item">
          <ion-icon name="logo-facebook" class="facebook-icon"></ion-icon>
          <ion-button expand="block" color="primary">Connect Facebook</ion-button>
        </div>
        <div class="social-item">
          <ion-icon name="logo-twitter" class="twitter-icon"></ion-icon>
          <ion-button expand="block" color="secondary">Connect Twitter</ion-button>
        </div>
        <div class="social-item">
          <ion-icon name="logo-instagram" class="instagram-icon"></ion-icon>
          <ion-button expand="block" color="tertiary">Connect Instagram</ion-button>
        </div>
        <div class="social-item">
          <ion-icon name="logo-youtube" class="youtube-icon"></ion-icon>
          <ion-button expand="block" color="danger">Connect YouTube</ion-button>
        </div>
        <div class="social-item">
          <ion-icon name="logo-tiktok" class="tiktok-icon"></ion-icon>
          <ion-button expand="block" class="custom-dark-button">Connect TikTok</ion-button>
        </div>
        <div class="social-item">
          <ion-icon name="logo-linkedin" class="linkedin-icon"></ion-icon>
          <ion-button expand="block" color="success">Connect LinkedIn</ion-button>
        </div>
        <div class="social-item">
          <ion-icon name="logo-snapchat" class="snapchat-icon"></ion-icon>
          <ion-button expand="block" class="custom-yellow-button">Connect Snapchat</ion-button>
        </div>
        <div class="social-item">
          <ion-icon name="logo-twitch" class="twitch-icon"></ion-icon>
          <ion-button expand="block" class="custom-gray-button">Connect Twitch</ion-button>
        </div>
      </div>
    </div>
  </ion-content>
  