<ion-header>
    <ion-toolbar class="enhanced-toolbar">
      <!-- Title with Router Navigation -->
      <ion-title class="brand-title" routerLink="/" routerDirection="root">
        OneFeed
      </ion-title>
  
      <!-- Navigation Buttons -->
      <ion-buttons slot="end">
        <ion-button routerLink="/features" routerDirection="forward" class="header-button" fill="clear">
          Features
        </ion-button>
        <ion-button routerLink="/pricing" routerDirection="forward" class="header-button" fill="clear">
          Pricing
        </ion-button>
        <ion-button routerLink="/login" routerDirection="forward" class="header-button" fill="clear">
          Login
        </ion-button>
        <ion-button routerLink="/create-account" routerDirection="forward" class="signup-button" fill="solid">
          Sign Up
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  